.App {
  text-align: center;
  margin-top: 10px;
}

.squares {
  display: inline-block;
  flex-direction: row;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  flex-direction: row;
}

.squares > :hover {
  cursor: pointer;
}