.App {
  text-align: center;
}

.squares {
  border: 1px solid;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
  border: 1px solid;
  height: 100px;
  width: 100px;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid;
  margin: 1px;
}